In [1]:
import pandas as pd
reviews = pd.read_csv("E:/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

In [2]:
reviews["points"].count()

129971

In [3]:
reviews.groupby('points')["points"].count()

points
80     397
81     692
      ...
99      33
100     19
Name: points, Length: 21, dtype: int64

In [4]:
reviews.groupby('points')["price"].min()

points
80      5.0
81      5.0
       ...
99     44.0
100    80.0
Name: price, Length: 21, dtype: float64

In [5]:
reviews.groupby('points')["price"].max()

points
80       69.0
81      130.0
        ...
99      850.0
100    1500.0
Name: price, Length: 21, dtype: float64

In [6]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [11]:
reviews.groupby("winery").apply(lambda df : df["title"].iloc[0])

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [12]:
reviews.groupby(["country", "province"])["points"].max()

country    province
Argentina  Mendoza Province    97
           Other               95
                               ..
Uruguay    San Jose            87
           Uruguay             91
Name: points, Length: 425, dtype: int64

In [14]:
reviews.groupby(["country", "province"]).apply(lambda df : df.loc[df["points"].idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
...                               ...
Uruguay   San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
...                                                                       ...
Uruguay   San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                          designation  points  price  \
country   province
Argentina Mendoza Province           Nicasia Vineyard      97  120.0
          Other                               Reserva      95   90.0
...                                               ...     ...    ...
Uruguay   San Jose           El Preciado Gran Reserva      87   50.0
          Uruguay           Blend 002 Limited Edition      91   22.0

                                    province region_1 region_2  \
country   province
Argentina Mendoza Province  Mendoza Province  Mendoza      NaN
          Other                        Other    Salta      NaN
...                                      ...      ...      ...
Uruguay   San Jose                  San Jose      NaN      NaN
          Uruguay                    Uruguay      NaN      NaN

                                  taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province  Michael Schachner           @wineschach
          Other             Michael Schachner           @wineschach
...                                       ...                   ...
Uruguay   San Jose          Michael Schachner           @wineschach
          Uruguay           Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
...                                                                       ...
Uruguay   San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
...                                           ...                   ...
Uruguay   San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 13 columns]

In [18]:
reviews.groupby("country")["price"].agg([len, min, max])

            len   min    max
country
Argentina  3800   4.0  230.0
Armenia       2  14.0   15.0
...         ...   ...    ...
Ukraine      14   6.0   13.0
Uruguay     109  10.0  130.0

[43 rows x 3 columns]

In [46]:
reviews.groupby(["country", "province"])["price"].agg([len, min, max])

                             len   min    max
country   province
Argentina Mendoza Province  3264   4.0  230.0
          Other              536   7.0  150.0
...                          ...   ...    ...
Uruguay   San Jose             3  20.0   50.0
          Uruguay             24  12.0   50.0

[425 rows x 3 columns]

In [35]:
countries_reviewed = reviews.groupby(["country", "province"])["price"].agg([len, min, max])
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [36]:
countries_reviewed.reset_index()

       country          province   len   min    max
0    Argentina  Mendoza Province  3264   4.0  230.0
1    Argentina             Other   536   7.0  150.0
..         ...               ...   ...   ...    ...
423    Uruguay          San Jose     3  20.0   50.0
424    Uruguay           Uruguay    24  12.0   50.0

[425 rows x 5 columns]

In [30]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [41]:
countries_reviewed.sort_values(by = "len")

                                 len   min     max
country province
Greece  Muscat of Kefallonian      1  30.0    30.0
        Sterea Ellada              1  10.0    10.0
...                              ...   ...     ...
US      Washington              8639   6.0   240.0
        California             36247   4.0  2013.0

[425 rows x 3 columns]

In [44]:
countries_reviewed.sort_values(by = "len", ascending = False)

                      len   min     max
country province
US      California  36247   4.0  2013.0
        Washington   8639   6.0   240.0
...                   ...   ...     ...
Chile   Coelemu         1  25.0    25.0
Greece  Beotia          1  27.0    27.0

[425 rows x 3 columns]

In [45]:
countries_reviewed.sort_index()

                             len   min    max
country   province
Argentina Mendoza Province  3264   4.0  230.0
          Other              536   7.0  150.0
...                          ...   ...    ...
Uruguay   San Jose             3  20.0   50.0
          Uruguay             24  12.0   50.0

[425 rows x 3 columns]

In [52]:
best_rating_per_price = reviews.groupby("price")["points"].max()
best_rating_per_price.sort_index()

price
4.0       86
5.0       87
          ..
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [53]:
reviewer_mean_ratings = reviews.groupby("taster_name")["points"].mean()

In [54]:
reviewer_mean_ratings

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
                        ...
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, Length: 19, dtype: float64

In [57]:
pd.set_option("display.max_rows", 10)
reviewer_mean_ratings.describe()

count    19.000000
mean     88.233026
std       1.243610
min      85.855422
25%      87.323501
50%      88.536235
75%      88.975256
max      90.562551
Name: points, dtype: float64